<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <h1>elliot's flask application</h1>
    <nav>
        <a href="/">home</a>
        <a href="elliot">elliot</a>
        <a href="katy">katy</a>
        <a href="jordan">jordan</a>
    </nav>
    {% block content %}
    {% endblock %}

</body>
</html>